{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
 {% for category, message in messages %}
        <div class="{{ category }} alert-message block-message border px-4 py-3 rounded relative"
             role="alert"><span class="text-xl inline-block mr-5 align-middle">
    <i class="fas fa-bell"></i>
  </span>

                <ul class="inline-block align-middle mr-8">
                <li>{{ message|capitalize }}</li>
            {% endfor %}
            </ul>
            <button class="absolute bg-transparent text-2xl font-semibold leading-none right-0 top-0 mt-4 mr-6 outline-none focus:outline-none"
                    onclick="closeAlert(event)">
                <span>×</span>
            </button>
{#        {% include '_button-close.jinja2' %}#}
        </div>
    {% endif %}
{% endwith %}
{##}
{#{% with errors = get_flashed_messages(category_filter=["error"]) %}#}
{#    {% if errors %}#}
{#        <div class="error alert-message block-message error bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative"#}
{#             role="alert"><span class="text-xl inline-block mr-5 align-middle">#}
{#    <i class="fas fa-bell"></i>#}
{#  </span>#}
{#            {% for msg in errors %}#}
{#                <ul class="inline-block align-middle mr-8">#}
{#                <li><b class="capitalize">Warning:</b> {{ msg }}</li>#}
{#            {% endfor %}#}
{#            </ul>#}
{#            <a class="close" href="#">×</a>#}
{#            <ul>#}
{#                {% for msg in errors %}#}
{#                    <li>{{ msg }}</li>#}
{#                {% endfor %}#}
{#            </ul>#}
{#            <button class="absolute bg-transparent text-2xl font-semibold leading-none right-0 top-0 mt-4 mr-6 outline-none focus:outline-none"#}
{#                    onclick="closeAlert(event)">#}
{#                <span>×</span>#}
{#            </button>#}
{#        </div>#}
{#    {% endif %}#}
{#{% endwith %}#}
{##}
{##}
{##}
{#{% with alerts = get_flashed_messages(category_filter=["alerts"]) %}#}
{#    {% if errors %}#}
{#        <div class="alert alert-message block-message error bg-green-100 border border-green-400 text-gray-700 px-4 py-3 rounded relative"#}
{#             role="alert"><span class="text-xl inline-block mr-5 align-middle">#}
{#    <i class="fas fa-bell"></i>#}
{#  </span>#}
{#            {% for msg in alerts %}#}
{#                <ul class="inline-block align-middle mr-8">#}
{#                <li><b class="capitalize">Alert:</b> {{ msg }}</li>#}
{#            {% endfor %}#}
{#            </ul>#}
{#            <a class="close" href="#">×</a>#}
{#            <ul>#}
{#                {% for msg in errors %}#}
{#                    <li>{{ msg }}</li>#}
{#                {% endfor %}#}
{#            </ul>#}
{#            <button class="absolute bg-transparent text-2xl font-semibold leading-none right-0 top-0 mt-4 mr-6 outline-none focus:outline-none"#}
{#                    onclick="closeAlert(event)">#}
{#                <span>×</span>#}
{#            </button>#}
{#        </div>#}
{#    {% endif %}#}
{#{% endwith %}#}
{##}

{#    {% with messages = get_flashed_messages() %}#}
{#            {% if messages %}#}
{#                <a class="close" href="#">×</a>#}
{#                <ul class=flashes>#}
{#                    {% for message in messages %}#}
{#                        <li class="bg-gray-700#}
{#                        px-11/12 py-2#}
{#                         text-white">Message: {{ message }}</li>#}
{#                    {% endfor %}#}
{#                </ul>#}
{#            {% endif %}#}
{#        {% endwith %}#}
{#        <!-- Flashing with filters  -->#}
{#        {% with errors = get_flashed_messages(category_filter=["error"]) %}#}
{#            {% if errors %}#}
{#                <div class="alert-message block-message error">#}
{#                    <a class="close" href="#">×</a>#}
{##}
{#                    <ul>#}
{#                        {% for msg in errors %}#}
{#                            <li>{{ msg }}</li>#}
{#                        {% endfor %}#}
{#                    </ul>#}
{#                </div>#}
{#            {% endif %}#}
{#        {% endwith %}#}