<a href="{{ url_for('products.wine') }}"
        class="btn btn-primary p-3 py-3 bg-red-600 text-white uppercase rounded extrabold shadow-md
        hover:bg-red-800 hover:shadow-lg  focus:shadow-lg focus:outline-none focus:ring-0
         active:shadow-lg transition duration-150 ease-in-out">
    Continue Shopping
</a>