<button class="absolute text-gray-400 bg-white text-2xl font-semibold leading-none right-0 top-0 mt-4 mr-6 outline-none focus:outline-none"
        onclick="closeAlert(event)">
    <span><img src="{{ url_for('static', filename='svg/close_icon.svg') }}"></span>
</button>
