{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
 {% for category, message in messages %}
        <div class="{{ category }} alert-message block-message border px-4 py-3 rounded relative"
             role="alert"><span class="text-xl inline-block mr-5 align-middle">
    <i class="fas fa-bell"></i>
  </span>

                <ul class="inline-block align-middle mr-8">
                <li>{{ message|capitalize }}</li>
            {% endfor %}
            </ul>
            <button class="absolute bg-transparent text-2xl font-semibold leading-none right-0 top-0 mt-4 mr-6 outline-none focus:outline-none"
                    onclick="closeAlert(event)">
                <span>×</span>
            </button>
        </div>
    {% endif %}
{% endwith %}