<footer class="inset-x-0 bottom-0 pt-7 dark:bg-gray-800 dark:text-gray-50 text-white">
    <div class="container w-11/12 px-6 mx-auto space-y-6 divide-y divide-gray-400 md:space-y-12 divide-opacity-50">

        <!-- Main Column -->
        <div class="grid grid-cols-12">
            <!-- Blurb -->
            <div class="hidden md:block pt-2 col-span-full md:pb-0 md:col-span-6 px-6">
                <a rel="noopener noreferrer" href="#" class="flex justify-center space-x-3 md:justify-start">
                    <div class="flex items-center justify-center w-12 h-12 rounded-full dark:bg-violet-400">
                        <img src="{{ url_for('static', filename='img/snail-logo.png') }}"
                             class="filter-white inline mr-2 w-10"
                             alt="logo"/>
                    </div>
                    <span class="self-center uppercase text-2xl font-semibold">Slow Wine West</span>
                </a>
                <p class="text-lg mt-4">We are thrilled you’re here! There is much we want to share with you about our passion for fine
                    wine and ecological sustainable practices in viticulture. Our bloggers explore the world of wine
                    and strive to bring innovative and exciting content to our readers.
                </p>
            </div>
            <!-- Blurb END/ -->
            <!-- First link column -->
            <div class="col-span-6 ml-16 md:col-span-3 py-2 px-6">
                <p class="pb-1 text-lg uppercase font-bold">Site Links</p>
                <ul id="first">
                    <li>
                        <a rel="noopener noreferrer" href="{{ url_for('auth.logout') }}"
                           class="text-2xl">Logout</a>
                    </li>
                    <li>
                        <a rel="noopener noreferrer"
                           href="{{ url_for('account.profile', username=current_user.username) }}"
                           class="text-2xl">Profile</a>
                    </li>
                    <li>
                        <a rel="noopener noreferrer"
                           href="{{ url_for('account.transactions', username=current_user.username) }}"
                           class="text-2xl">Orders</a>
                    </li>
                    <li>
                        <a rel="noopener noreferrer" href="{{ url_for('products.wine') }}"
                           class="text-2xl">Shop</a>
                    </li>
                    <li>
                        <a rel="noopener noreferrer" href="{{ url_for('cart.cart', user_id=current_user.id) }}"
                           class="text-2xl">Cart</a>
                    </li>
                </ul>
            </div>
            <!-- First link column  END/-->
            <!-- Second link column -->
            <div class="col-span-6 ml-16 md:col-span-2 py-2 px-6">
                <p class="pb-1 text-lg uppercase font-bold">Project Links</p>
                <ul id="second">
                    <li>
                        <a rel="noopener noreferrer" href="https://github.com/eriklolson/flask-wineshop"
                           class="text-2xl">GitHub</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Second link column END/-->

        <!-- Bottom row -->
        <div class="grid justify-center py-2 lg:justify-between">
            <div class="flex flex-col self-center pl-8 text-sm text-center md:block lg:col-start-1 md:space-x-6">
                <span>©2022 All rights reserved.</span>
            </div>
            <div class="flex space-x-4 align-center pt-4 pr-8 lg:pt-0 lg:col-end-13">
                <a rel="noopener noreferrer" href="#" title="Email"
                   class="flex items-center justify-center w-10 h-10 rounded-full dark:bg-violet-400 dark:text-gray-900">
                    <img src="{{ url_for('static', filename='svg/facebook.svg') }}" class="filter-white w-5 h-5"
                         alt="facebook icon"/>
                </a>
                <a rel="noopener noreferrer" href="#" title="Twitter"
                   class="flex items-center justify-center w-10 h-10 rounded-full dark:bg-violet-400 dark:text-gray-900">
                    <img src="{{ url_for('static', filename='svg/instagram.svg') }}" class="filter-white w-5 h-5 "
                         alt="instagram icon"/>
                </a>
                <a rel="noopener noreferrer" href="#" title="GitHub"
                   class="flex items-center justify-center w-10 h-10 rounded-full dark:bg-violet-400 dark:text-gray-900">
                    <img src="{{ url_for('static', filename='svg/twitter.svg') }}"
                         class="filter-white w-5 h-5 text-2xl"
                         alt="twitter icon"/>
                </a>
                <a rel="noopener noreferrer" href="#" title="GitHub"
                   class="flex items-center justify-center w-10 h-10 rounded-full dark:bg-violet-400 dark:text-gray-900">
                    <img src="{{ url_for('static', filename='svg/linkedin.svg') }}"
                         class="filter-white w-5 h-5"
                         alt="linkedin icon"/>
                </a>
            </div>
        </div>
    </div>
    <!-- Bottom row END/ -->
</footer>