<!DOCTYPE html>
<html lang="en">
<head>
    {% include '_meta.jinja2' %}

    {% if title %}
        <title>Flask Wineshop - {{ title }}</title>
    {% else %}
        <title>Flask Wineshop</title>
    {% endif %}

    {% block pagestyles %} {% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/global.css') }}">
    <!-- Tailwind CSS, AlpineJS, & jQuery CDNs -->
    <script src="https://cdn.tailwindcss.com"></script>
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- jQuery Modal -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css"/>
</head>
<body>
    <div class="flex flex-col min-h-screen">
        <header class="left-0 top-0 w-screen w-full justify-center">
            {% if current_user.is_authenticated %}
                {% include 'navigation-loggedin.jinja2' %}
            {% else %}
                {% include 'navigation-default.jinja2' %}
            {% endif %}
        </header>

        <main class="flex-auto">
            <div class="container items-center min-h-full w-11/12 bg-white rounded-md">
                 {% include '_flashes.jinja2' %}
            </div>
            {% block content %}{% endblock %}
        </main>

        {% if current_user.is_authenticated %}
            {% include 'footer-loggedin.jinja2' %}
        {% else %}
            {% include 'footer-default.jinja2' %}
        {% endif %}
    </div>
{% block scripts %}
    <!-- Load Jquery CDN -->
    <scriptt %} src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/index.min.js"></scriptt>
    <!-- Load custom JS from file -->
    <script src="{{ url_for('static', filename='dist/js/main.min.js') }}"></script>
{% endblock %}

</body>
</html>