<nav id="main-nav" class="container flex flex-wrap w-11/12 py-6 px-4 mx-auto justify-between space-x-9 text-white">
    <!-- logo  max-w-screen-xl-->
    <div id="site-title" class="flex items-center flex-shrink-0">
        <a class="flex" href="{{ url_for('home.index') }}">
            <img class="mr-3 self-center h-12" src="{{ url_for('static', filename='img/snail-logo.png') }}"
                 alt="snail-logo"/>
            <span class="self-center whitespace-nowrap "> Slow Wine West </span>
        </a>
    </div>
    <!-- space -->
    <div class="hidden sm:flex flex-1">&nbsp;</div>

    <!-- primary nav -->
    <ul id="nav-content" class="hidden ml-auto space-x-15 lg:flex items-center">

        <li x-data="{ isOpen: false}"
            @mouseleave="isOpen = false"
            class="relative pr-8 py-full">

            <a @mouseover="isOpen = !isOpen"
               @keydown.escape="isOpen = false"
               href="{{ url_for('products.wine') }}"
               class="">
                <img @mouseover="isOpen = !isOpen"
                     @keydown.escape="isOpen = false"
                     class="filter-white self-center w-10 h-10"
                     src="{{ url_for('static', filename='svg/wine-icon.svg') }}"
                     alt="wine-icon"/>
                Shop
            </a>
            <!-- Dropdown menu1 -->
            <div x-show="isOpen"
                 x-cloak
                 @click.away="isOpen = false"
                 class="absolute overflow-hidden bg-gray-500 px-8 right-0 w-100 mt-0 z-20">
                <a href="{{ url_for('products.color', color_name='Red') }}" class="block bg-700 text-white">
                    Red
                </a>
                <a href="{{ url_for('products.color', color_name='White') }}" class="block bg-700 text-white">
                    White
                </a>
                <a href="{{ url_for('products.color', color_name='Rose') }}" class="block bg-700 text-white">
                    Rose
                </a>
            </div>
            <!-- Dropdown menu1 END-->
        </li>
    </ul>
    <!-- Utility Nav -->
    <ul class="hidden space-x-15 pr-8  sm:flex items-center">
        <li x-data="{ isOpen: false }"
            @mouseleave="isOpen = false"
            class="relative pr-8 text-white py-full">

            <a @mouseover="isOpen = !isOpen"
               @keydown.escape="isOpen = false"
               href="{{ url_for('auth.logout') }}"
             class=""
            >
                <img @mouseover="isOpen = !isOpen"
                     @keydown.escape="isOpen = false"
                     src="{{ url_for('static', filename='svg/user_icon.svg') }}"
                     class="filter-white w-10 h-10" alt="user-icon"/>
                Log-out
            </a>
            <!-- Dropdown menu -->
            <div x-show="isOpen"
                 x-cloak
                 @click.away="isOpen = false"
                 class="absolute overflow-hidden bg-gray-500 px-8 right-0 w-100 mt-0 z-20">
                <a href="{{ url_for('account.profile', username=current_user.username) }}" class="block">
                    Profile
                </a>
                <a href="{{ url_for('account.transactions', username=current_user.username) }}" class="block">
                    Order History
                </a>
            </div>
        </li>
        <!-- Cart nav link -->
        <li class="pr-8">
            <a href="{{ url_for('cart.cart', user_id=current_user.id) }}">
                <img class="w-10 h-10 filter-white" src="{{ url_for('static', filename='svg/cart_icon.svg') }}"
                     alt="cart-icon"/>
                ({{ quantity_total }})
            </a>
        </li>
    </ul>
    <!-- toggle button -->
    <div id="toggle-block" class="flex items-center lg:hidden">
        {% include '_hamburger.jinja2' %}
    </div>
</nav>