<nav id="main-nav"
     class="w-full md:container md:w-11/12 flex flex-wrap mx-auto justify-between items-center py-6 text-white">
    <!-- logo  max-w-screen-xl-->
    <div id="site-title" class="flex items-center flex-shrink-0">
        <a class="flex" href="{{ url_for('home.index') }}">
            <img class="self-center h-12" src="{{ url_for('static', filename='svg/bottleandglass.svg') }}"
                 alt="logo"/>
            <span class="self-center upper whitespace-nowrap "> Flask Wineshop </span>
        </a>
    </div>
    <!-- space -->
    <div class="hidden sm:flex flex-1">&nbsp;</div>
    <!-- primary nav -->
    <ul id="nav-content" class="hidden sm:flex ml-auto font-black items-center">
        <li x-data="{ isOpen: false}"
            @mouseleave="isOpen = false"
            class="relative lg:pr-8 hover:bg-gray-500">
            <a @mouseover="isOpen = !isOpen"
               @keydown.escape="isOpen = false"
               href="{{ url_for('products.wine') }}"
               class="uppercase">
                <img @mouseover="isOpen = !isOpen"
                     @keydown.escape="isOpen = false"
                     class="inline-block filter-white w-10 h-10"
                     src="{{ url_for('static', filename='svg/wine-icon.svg') }}"
                     alt="wine-icon"/>
                Shop
            </a>
            <!-- Dropdown menu 1 -->
            <div x-show="isOpen"
                 x-cloak
                 @click.away="isOpen = false"
                 class="absolute overflow-hidden bg-gray-500 py-4 px-10 right-0 w-100 z-20">
                <a href="{{ url_for('products.wine') }}" class="block bg-700 text-white">
                    All
                </a>
                <a href="{{ url_for('products.color', color_name='Red') }}" class="block bg-700 text-white">
                    Red
                </a>
                <a href="{{ url_for('products.color', color_name='White') }}" class="block bg-700 text-white">
                    White
                </a>
                <a href="{{ url_for('products.color', color_name='Rose') }}" class="block bg-700 text-white">
                    Rose
                </a>
            </div>
            <!-- Dropdown menu1 END-->
        </li>
    </ul>
    <!-- Utility Nav -->
    <ul class="hidden font-black pr-8 sm:flex items-center">
        <li x-data="{ isOpen: false }"
            @mouseleave="isOpen = false"
            class="relative pr-8 text-white hover:bg-gray-500">
            <a @mouseover="isOpen = !isOpen"
               @keydown.escape="isOpen = false"
               href="{{ url_for('auth.login') }}"
               class="uppercase">
                <img @mouseover="isOpen = !isOpen"
                     @keydown.escape="isOpen = false"
                     src="{{ url_for('static', filename='svg/user_icon.svg') }}"
                     class="inline-block filter-white w-10 h-10" alt="user-icon"/>
                Sign In
            </a>
            <!-- Dropdown menu 2 -->
            <div x-show="isOpen"
                 x-cloak
                 @click.away="isOpen = false"
                 class="absolute overflow-hidden bg-gray-500 py-4 px-10 right-0 w-100 z-20">
                <a href="{{ url_for('auth.signup', user_id=current_user.id) }}" class="block">
                   Register
                </a>
            </div>
        </li>
        <li class="pr-8">
            <a href="{{ url_for('auth.login') }}">
                <img class="inline-block filter-white w-10 h-10"
                     src="{{ url_for('static', filename='svg/cart_icon.svg') }}"
                     alt="cart-icon"/>
                ({{ quantity_total }})
            </a>
        </li>
    </ul>

    <!-- Mobile menu icon -->
    <div id="mobile-icon" class="sm:hidden">
        <i onclick="changeIcon(this)" class="fa-solid fa-bars"></i>
        {% include '_hamburger.jinja2' %}
    </div>

    <!-- Mobile menu -->
    <div class="md:hidden absolute z-10 justify-center mt-16 w-full">
        <div id="mobile-menu" class="mobile-menu absolute top-30 w-full"> <!-- add hidden here later -->
            <ul class="bg-gray-500 shadow-lg leading-9 font-bold h-screen">
                <li class="border-b-2 border-white hover:bg-red-400 hover:text-white pl-4">
                    <a href="{{ url_for('auth.login') }}" class="block pl-7">
                        Log In
                    </a>
                </li>
                <li class="border-b-2 border-white hover:bg-red-400 hover:text-white pl-4">
                    <a href="{{ url_for('auth.signup', user_id=current_user.id) }}" class="block pl-7">
                        Sign Up
                    </a>
                </li>
                <li class="border-b-2 border-white hover:bg-red-400 hover:text-white pl-4">
                    <a href="{{ url_for('products.wine') }}" class="block pl-16">
                        Shop
                    </a>
                </li>
                <li class="border-b-2 border-white hover:bg-red-400 hover:text-white pl-4">
                    <a href="{{ url_for('auth.login') }}" class="block pl-7">Cart
                    </a>
                </li>
            </ul>
        </div>
    </div>

</nav>