{% extends "layout.jinja2" %}
{% block title %}Register{% endblock %}
{% block pagestyles %}
    {% assets "auth_style_bundle" %}
        <link href="{{ ASSET_URL }}" rel="stylesheet" type="text/css">
    {% endassets %}
{% endblock %}

{% block content %}

    <section class="container w-11/12 h-screen flex text-white ">
        <div class="lg:flex w-1/2 hidden bg-gray-500 bg-no-repeat bg-cover relative items-center"
             style="background-image: url(https://www.homestratosphere.com/wp-content/uploads/2018/03/header-image-types-of-wine-glasses-032218-e1521724010154.jpg);">
            <div class="absolute  opacity-60 inset-0 z-0"></div>
            <div class="w-full px-24 z-10">
                <h1 class="text-5xl font-bold text-left tracking-wide">{{ title }}</h1>
                <p class="font-black text-4xl my-4">Sign up to order wines</p>
            </div>
        </div>

        <div class="lg:w-1/2 flex justify-center  relative w-full text-center md:px-16 px-0 z-0">
            <div class=" lg:hidden z-10 absolute inset-0 bg-gray-500 bg-no-repeat bg-cover items-center"
                 style="background-image:  url('{{ url_for('.static', filename='img/pour.jpg')}}');">
                <div class="absolute bg-black opacity-60 inset-0 z-0"></div>
            </div>

            <div class="w-full  z-20">
                <img class="w-16 inline-block" src="{{ url_for('static', filename='svg/bottleandglass.svg') }}" alt="logo"/>
                <h2 class="my-16 font-black text-4xl text-white lg:text-black inline-block">
                    Register your account today
                </h2>
                <form action="{{ url_for('auth.signup') }}" method="POST" autocomplete="off" novalidate
                      class="sm:w-2/3 flex flex-col space-y-6  px-4 lg:px-0 mx-auto gid-span">
                    {{ form.csrf_token }}

                        <fieldset class="name text-black mb-4">
                            {{ form.username.label(class="font-black text-2xl") }}
                            {{ form.username(class="border-gray-900 py-1 rounded-md") }}
                            {% if form.username.errors %}
                                <ul class="errors font-black mt-2">
                                    {% for error in form.username.errors %}
                                        <li>{{ error }}</li>{% endfor %}
                                </ul>
                            {% endif %}
                        </fieldset>

                    <fieldset class="email text-black mb-4">
                        {{ form.email.label(class="font-black text-2xl") }}
                        {{ form.email(class="border-gray-900 py-1 rounded-md") }}
                        {% if form.email.errors %}
                            <ul class="errors font-black mt-2">
                                {% for error in form.email.errors %}
                                    <li>{{ error }}</li>{% endfor %}
                            </ul>
                        {% endif %}
                    </fieldset>

                    <fieldset class="password text-black">
                        {{ form.password.label(class="font-black text-2xl") }}
                        {{ form.password(class="border-gray-900 py-1 rounded-md") }}
                        {% if form.password.errors %}
                            <ul class="errors font-black mt-2">
                                {% for error in form.password.errors %}
                                    <li>{{ error }}</li>{% endfor %}
                            </ul>
                        {% endif %}
                    </fieldset>

                    <fieldset class="confirmPassword text-black">
                        {{ form.confirmPassword.label(class="font-black text-2xl") }}
                        {{ form.confirmPassword(class="border-gray-900 py-1 rounded-md") }}
                        {% if form.confirmPassword.errors %}
                            <ul class="errors font-black mt-2">
                                {% for error in form.confirmPassword.errors %}
                                    <li>{{ error }}</li>{% endfor %}
                            </ul>
                        {% endif %}
                    </fieldset>
                    <div class="pt-6">
                        {% include '_button-submit.jinja2' %}
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}