{% extends "layout.jinja2" %}

{% block pagestyles %}
    {% assets "home_style_bundle" %}
        <link href="{{ ASSET_URL }}" rel="stylesheet" type="text/css">
    {% endassets %}
{% endblock %}

{% block content %}
    <div class="mb-12">
        <section class="hero bg-center md:mt-2 mb-12 text-neutral-content container w-11/12 sm:mt-0"
                 style="background-image: url('{{ url_for('.static', filename='img/hero-vineyard.jpg')}}');">
            <div class="hero-overlay bg-opacity-50"></div>
            

        </section>
    </div>
    <div class="pb-12">

    </div>
{% endblock %}