<button type="button"
        {#                            class="btn-close box-content w-4 h-4 p-1 text-black border-none rounded-none opacity-50#}
        {#                             focus:shadow-none focus:outline-none focus:opacity-100 hover:text-black hover:opacity-75 hover:no-underline"#}
        class="bg-white rounded-md p-2 inline-flex items-center justify-center text-gray-400
               hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500"
        data-bs-dismiss="modal" aria-label="Close">
    <img src="{{ url_for('static', filename='svg/close_icon.svg') }}">
</button>