<button class="px-4 py-2 text-red-600 transition-colors duration-150 bg-white border
               border-red-600 rounded-r-lg focus:shadow-outline hover:bg-red-300"
        onclick="window.location.href='{{ next_url }}';">Next
</button>