<button class="px-4 py-2 text-red-600 transition-colors duration-150 bg-white border
               border-r-0 border-orange-600 rounded-l-lg focus:shadow-outline hover:bg-orange-100"
        onclick="window.location.href='{{ prev_url }}';" tabindex="-1">Prev
</button>