<aside class="transition-allduration-300 sm:col-1 md:w-1/5 md:col-1 lg-col-2 y-6 md:min-h-screen"
       x-data="{ open: false }" @click.away="open = false">
    <div class="flex-shrink-0 px-10 py-4 flex flex-row items-center justify-between">
        <a class="text-xl" href="#"
           class="text-lg font-bold tracking-widest  uppercase rounded-lg dark-mode:text-white focus:outline-none focus:shadow-outline">SEARCH</a>
    {% include '_button-toggle.jinja2' %}
    </div>
    <nav class="text-black font-bold border-solid border-black flex-grow md:block px-4 pb-4 md:pb-0 md:overflow-y-auto"
         :class="{'block': open, 'hidden': !open}">
        <div class="flex flex-col w-full md:w-55   dark-mode:text-gray-200"
             @click.away="open = false" x-data="{ open: false }">
            <div x-data="{ open: false }">
                <div x-cloak @click="open = !open" class="flex items-center justify-between border ">

                    <button type="button" class="flex justify-between items-center p-5 w-full font-medium text-left  rounded-t-xl
                border border-b-0 border-gray-600 focus:ring-4 focus:ring-gray-200"
                            data-accordion-target="#accordion-open-body-1" aria-expanded="true"
                            aria-controls="accordion-open-body-1">
            <span class="flex items-center">
               Color
            </span>
                        {% include '_chevron.jinja2' %}
                    </button>

                </div>
                <div x-cloak x-show.transition.in.duration.800ms="open" class="border p-4">
                    <form> {% for color in colors %}
                        <ul>
                            <a class="text-xl" class="text-xl"
                               href="{{ url_for('products.color', color_name=color.color_name) }}">
                                {{ color.color_name }}
                            </a>
                        </ul>
                    {% endfor %}
                    </form>
                </div>
            </div>
            <div x-data="{ open: false }">
                <div x-cloak @click="open = !open" class="flex items-center justify-between border ">
                    <button type="button" class="flex justify-between items-center p-5 w-full font-medium text-left  rounded-t-xl
                border border-b-0 border-gray-600 focus:ring-4 focus:ring-gray-200"
                            data-accordion-target="#accordion-open-body-1" aria-expanded="true"
                            aria-controls="accordion-open-body-1">
            <span class="flex items-center">
               Varietal
            </span>
                        {% include '_chevron.jinja2' %}
                    </button>
                </div>
                <div x-cloak x-show.transition.in.duration.800ms="open" class="border p-4">
                    <form> {% for varietal in varietals %}
                        <ul>
                            <a class="text-xl"
                               href="{{ url_for('products.varietal', primary_grape=varietal.primary_grape) }}"> {{ varietal.primary_grape }}
                            </a>
                        </ul>
                    {% endfor %}
                    </form>
                </div>
            </div>
            <div x-data="{ open: false }">
                <div x-cloak @click="open = !open" class="flex items-center justify-between border ">
                    <button type="button"
                            class="flex justify-between items-center p-5 w-full font-medium text-left text-gray-900 rounded-t-xl
                border border-b-0 border-gray-600 focus:ring-4 focus:ring-gray-200"
                            data-accordion-target="#accordion-open-body-1" aria-expanded="true"
                            aria-controls="accordion-open-body-1">
            <span class="flex items-center">
               Country
            </span>
                        {% include '_chevron.jinja2' %}
                    </button>
                </div>
                <div x-cloak x-show.transition.in.duration.800ms="open" class="border p-4">

                    <form> {% for country in countries %}
                        <ul>
                            <a class="text-xl"
                               href="{{ url_for('products.country', country_name=country.country_name) }}"> {{ country.country_name }}
                            </a>
                        </ul>
                    {% endfor %}
                    </form>
                </div>
            </div>
            <div x-data="{ open: false }">
                <div x-cloak @click="open = !open" class="flex items-center justify-between border ">
                    <button type="button"
                            class="flex justify-between items-center p-5 w-full font-medium text-left text-gray-900 rounded-t-xl
                border border-b-0 border-gray-600 focus:ring-4 focus:ring-gray-200"
                            data-accordion-target="#accordion-open-body-1" aria-expanded="true"
                            aria-controls="accordion-open-body-1">
            <span class="flex items-center">
               Regions
            </span>
                        {% include '_chevron.jinja2' %}
                    </button>
                </div>
                <div x-cloak x-show.transition.in.duration.800ms="open" class="border p-4">
                    <form>{% for region in regions %}
                        <ul>
                            <a class="text-xl"
                               href="{{ url_for('products.region', region_name=region.region_name) }}"> {{ region.region_name }}
                            </a>
                        </ul>
                    {% endfor %}
                    </form>
                </div>
            </div>
        </div>
    </nav>

</aside>