<aside class="transition-allduration-300 sm:col-1 md:w-1/5 md:col-1 lg-col-2 y-6 md:min-h-screen"
       x-data="{ open: false }" @click.away="open = false">
    <div class="flex-shrink-0 px-10 py-4 flex flex-row items-center justify-between">
        <a class="text-xl" href="#"
           class="text-lg font-bold tracking-widest  uppercase rounded-lg dark-mode:text-white focus:outline-none focus:shadow-outline">SEARCH</a>
        <button class="rounded-lg md:hidden rounded-lg focus:outline-none focus:shadow-outline"
                @click="open = !open">
                    <svg fill="currentColor" viewBox="0 0 20 20" class="w-10 h-10">
          <path x-show="!open" fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM9 15a1 1 0 011-1h6a1 1 0 110 2h-6a1 1 0 01-1-1z" clip-rule="evenodd"></path>
          <path x-show="open" fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
        </svg>
        </button>
    </div>
    <nav class="text-black font-bold border-solid border-black flex-grow md:block px-4 pb-4 md:pb-0 md:overflow-y-auto"
         :class="{'block': open, 'hidden': !open}">
        <div class="flex flex-col w-full md:w-55   dark-mode:text-gray-200"
             @click.away="open = false" x-data="{ open: false }">
            <div x-data="{ open: false }">
                <div @click="open = !open" class="flex items-center justify-between border ">


                    <button type="button" class="flex justify-between items-center p-5 w-full font-medium text-left  rounded-t-xl
                border border-b-0 border-gray-600 focus:ring-4 focus:ring-gray-200"
                            data-accordion-target="#accordion-open-body-1" aria-expanded="true"
                            aria-controls="accordion-open-body-1">
            <span class="flex items-center">
               Color
            </span>
                        <svg fill="currentColor" viewBox="0 0 20 20" :class="{'rotate-180': open, 'rotate-0': !open}"
                             class="w-6 h-6 mt-1 ml-1 transition-transform duration-200 transform md:-mt-1">
                            <path fill-rule="evenodd"
                                  d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                  clip-rule="evenodd"></path>
                        </svg>
                    </button>


                </div>
                <div x-show.transition.in.duration.800ms="open" class="border p-4">
                    <form> {% for color in colors %}
                        <ul>
                            <a class="text-xl"class="text-xl" href="{{ url_for('products.color', color_name=color.color_name) }}">
                                {{ color.color_name }}
                            </a>
                        </ul>
                    {% endfor %}
                    </form>
                </div>
            </div>
            <div x-data="{ open: false }">
                <div @click="open = !open" class="flex items-center justify-between border ">
                    <button type="button" class="flex justify-between items-center p-5 w-full font-medium text-left  rounded-t-xl
                border border-b-0 border-gray-600 focus:ring-4 focus:ring-gray-200"
                            data-accordion-target="#accordion-open-body-1" aria-expanded="true"
                            aria-controls="accordion-open-body-1">
            <span class="flex items-center">
               Varietal
            </span>
                        <svg fill="currentColor" viewBox="0 0 20 20" :class="{'rotate-180': open, 'rotate-0': !open}"
                             class="w-6 h-6 mt-1 ml-1 transition-transform duration-200 transform md:-mt-1">
                            <path fill-rule="evenodd"
                                  d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                  clip-rule="evenodd"></path>
                        </svg>
                    </button>
                </div>
                <div x-show.transition.in.duration.800ms="open" class="border p-4">
                    <form> {% for varietal in varietals %}
                        <ul>
                            <a class="text-xl" href="{{ url_for('products.varietal', primary_grape=varietal.primary_grape) }}"> {{ varietal.primary_grape }}
                            </a>
                        </ul>
                    {% endfor %}
                    </form>
                </div>
            </div>
            <div x-data="{ open: false }">
                <div @click="open = !open" class="flex items-center justify-between border ">
                    <button type="button"
                            class="flex justify-between items-center p-5 w-full font-medium text-left text-gray-900 rounded-t-xl
                border border-b-0 border-gray-600 focus:ring-4 focus:ring-gray-200"
                            data-accordion-target="#accordion-open-body-1" aria-expanded="true"
                            aria-controls="accordion-open-body-1">
            <span class="flex items-center">
               Country
            </span>
                        <svg fill="currentColor" viewBox="0 0 20 20" :class="{'rotate-180': open, 'rotate-0': !open}"
                             class="w-6 h-6 mt-1 ml-1 transition-transform duration-200 transform md:-mt-1">
                            <path fill-rule="evenodd"
                                  d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                  clip-rule="evenodd"></path>
                        </svg>
                    </button>
                </div>
                <div x-show.transition.in.duration.800ms="open" class="border p-4">

                    <form> {% for country in countries %}
                        <ul>
                            <a class="text-xl" href="{{ url_for('products.country', country_name=country.country_name) }}"> {{ country.country_name }}
                            </a>
                        </ul>
                    {% endfor %}
                    </form>
                </div>
            </div>
            <div x-data="{ open: false }">
                <div @click="open = !open" class="flex items-center justify-between border ">
                    <button type="button"
                            class="flex justify-between items-center p-5 w-full font-medium text-left text-gray-900 rounded-t-xl
                border border-b-0 border-gray-600 focus:ring-4 focus:ring-gray-200"
                            data-accordion-target="#accordion-open-body-1" aria-expanded="true"
                            aria-controls="accordion-open-body-1">
            <span class="flex items-center">
               Regions
            </span>
                        <svg fill="currentColor" viewBox="0 0 20 20" :class="{'rotate-180': open, 'rotate-0': !open}"
                             class="w-6 h-6 mt-1 ml-1 transition-transform duration-200 transform md:-mt-1">
                            <path fill-rule="evenodd"
                                  d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                  clip-rule="evenodd"></path>
                        </svg>
                    </button>
                </div>
                <div x-show.transition.in.duration.800ms="open" class="border p-4">
                    <form>{% for region in regions %}
                        <ul>
                            <a class="text-xl" href="{{ url_for('products.region', region_name=region.region_name) }}"> {{ region.region_name }}
                            </a>
                        </ul>
                    {% endfor %}
                    </form>
                </div>
            </div>
        </div>
    </nav>

</aside>