<div class="modal fade w-full"
     id="item{{ bottle.id }}">
    <div class="modal-dialog modal-xl relative w-auto pointer-events-none">

        <div class="modal-content border-none relative flex flex-col w-full pointer-events-auto
         bg-clip-padding rounded-md outline-none text-current mt-12 py-4">
            <div class="grid grid-cols-2 gap-12">
                <div>
                    <h5 class="leading-normal " id="item{{ bottle.id }}Label">
                        <a href="{{ url_for('products.product_page',  bottles_id=bottle.id) }}">
                            {{ bottle.product_name }} <br>
                        </a>
                        {% if bottle.inventory.quantity > 0 %}
                            <small>(In Stock)</small>
                        {% else %}
                            <small>(Out of Stock)</small>
                        {% endif %}
                    </h5>

                    {% if  bottle.description !="'-'" %}
                        <div class="text-red-700"><em>Featured Product</em>
                        </div>
                    {% endif %}

                    {% include '_button_close_modal.jinja2' %}

                    <div class="modal-body relative p-4">
                        <div x-data="{
                           openTab: 1,
                           activeClasses: 'bg-primary text-gray-800',
                           inactiveClasses: 'hover:bg-primary hover:text-white',
                           }
                           " class="w-full mb-14">
                            <div class="
                              flex flex-wrap
                              rounded-lg
                              py-3
                              px-4a
                              border border-[#E4E4E4]
                              ">
                                <a href="javascript:void(0)" @click="openTab = 1"
                                   :class="openTab === 1 ? activeClasses : inactiveClasses"
                                   class="text-sm md:text-base font-black rounded-md px-4 lg:px-6 bg-primary text-white">
                                    Wine Facts
                                </a>
                            </div>
                            <div>
                                <div x-show="openTab === 1" class="text-body-color text-base leading-relaxed py-1"
                                     style="display: none;">
                                    <ul class="main" style="list-style-type:none;">
                                        <li class="my-1"><b>Producer:</b> {{ bottle.producer_name }}
                                            <a href="#!"></a>
                                        </li>
                                        <li class="my-1"><b>Country:</b> {{ bottle.country_name }}
                                            <a href="#!"></a>
                                        </li>
                                        <li class="my-1"><b>Region:</b> {{ bottle.region_name }}
                                            <a href="#!"></a>
                                        </li>
                                        <li class="my-1"><b>Appellation:</b> {{ bottle.appellation }}
                                            <a href="#!"></a>
                                        </li>
                                        <li class="my-1"><b>Wine Type:</b> {{ bottle.color_name }}
                                            <a href="#!"></a>
                                        </li>
                                        <li class="my-1"><b>Primary Varietal:</b> {{ bottle.primary_grape }}
                                            <a href="#!"></a>
                                        </li>
                                        <li class="my-1"><b>All Grapes:</b> {{ bottle.all_grape }}
                                            <a href="#!"></a>
                                        </li>
                                        <li class="my-1"><b>Vintage:</b> {{ bottle.year }}
                                            <a href="#!"></a>
                                        </li>
                                        <li class="my-1"><b>Bottle Size:</b> {{ bottle.volume }}ml.
                                            <a href="#!"></a>
                                        </li>
                                        <li class="my-1"><b>Proof/ABV:</b> {{ bottle.proof }}%
                                            <a href="#!"></a>
                                        </li>
                                    </ul>
                                </div>

                                <form action="{{ url_for('cart.add_to_cart', bottles_id=bottle.id) }}" method="POST">

                                    <div id="modal-price-wrapper" class="pt-12">
                                        <div class="v65-product-addToCart-price" itemprop="price">${{ bottle.price }}
                                        </div>
                                    </div>

                                    <div class="panel-footer">
                                        {% if bottle.inventory.quantity > 0 %}
                                            {% include '_button-add.jinja2' %}
                                        {% endif %}
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="{{ url_for('products.product_page',  bottles_id=bottle.id) }}">


                    <div id="card-image-container" class="center">
                        <img id="modal-product-image" src="{{ bottle.image }}" alt="{{ bottle.product_name }}">
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>