@use '../../../static/src/scss/themes.scss';
@use '../../../static/src/scss/typography.scss';


@media only screen and (max-width: 600px) {
  .modal {
    min-width: 100%;
  }
}

/* The Modal (background) */
.modal {

  min-width: 55%;

  #title {
    font-family: typography.$playfair;
  }
}

