{% extends"layout.jinja2" %}

<script src="{{ url_for('static', filename='dist/css/wine.css') }}"></script>

{% block content %}

    <main class="flex justify-center w-full border mt-0">
        <div class="container md:w-11/12 flex flex-col md:flex-row">

            {% include "_sidebar.jinja2" %}

            <section class="min-h-screen md:flex-grow md:w-auto">
                <div class="container w-11/12">
                    <div class="relative flex flex-col w-full pointer-events-auto
                    bg-clip-padding rounded-md outline-none text-current">
                        <div class="grid grid-1 md:grid-cols-2 gap-7">
                            <div>
                                <div class="relative pl-10">
                                    <br>
                                    <h1 class="text-5xl font-black leading-7 text-gray-900 sm:text-3xl sm:truncate">
                                        {{ product.product_name }}</h1>

                                    {% if product.inventory.quantity > 0 %}
                                        <small>(In Stock)</small>
                                    {% else %}
                                        <small>(Out of Stock)</small>
                                    {% endif %}

                                    {% if product.description !="'-'" %}
                                        <div class="productnamesubtitle text-red-700"><em>Featured Product</em>
                                        </div>
                                    {% endif %}
                                </div>


                                <div class="p-4">

                                    <div x-cloak x-data="{ openTab: 2 }" class="p-6 mb-7">
                                        <ul class="flex border-b border-gray-300 z-1 bg-gray-200 pt-2 px-2">
                                            <li x-on:click="openTab = 1" class=" w-full mr-1 z-10"
                                                :class="{'-mb-px bg-white rounded-t-md': openTab === 1}"
                                            >
                                                <a class=" w-full border-l border-r rounded-t-md border-t inline-block py-4 px-4 font-semibold"
                                                   :class="{'text-red-700 border-gray-300': openTab === 1, 'bg-gray-100 border-transparent text-gray-500 hover:text-red-800': openTab !== 1}"
                                                   href="#">Facts</a>
                                            </li>
                                            {% if product.description !="'-'" %}
                                                <li x-on:click="openTab = 2" class=" w-full mr-1 z-10"
                                                    :class="{'-mb-px bg-white rounded-t-md': openTab === 2}"
                                                >

                                                    <a class=" w-full border-l border-r rounded-t-md border-t inline-block py-4 px-4 font-semibold"
                                                       :class="{'text-red-700 border-gray-300': openTab === 2, 'bg-gray-100 border-transparent text-gray-500 hover:text-red-800': openTab !== 2}"
                                                       href="#">Description</a>
                                                </li>
                                            {% endif %}
                                        </ul>
                                        <div class="w-full pt-4 px-5">
                                            <div z-50 x-show="openTab === 1">
                                                <br>
                                                <div class="font-base grid grid-cols-6 divide-y-2 backdrop: divide-y-reverse">
                                                    <div class="col-start-3 col-end-7"></div>
                                                    <div class="col-start-1 col-end-3 font-black py-2 text-base">Wine
                                                        Type
                                                    </div>
                                                    <div class="col-start-3 col-end-7 py-2 text-base">{{ product.color_name }}</div>
                                                    <div class="col-start-1 col-end-3 font-black py-2 text-base">Primary
                                                        Grape
                                                    </div>
                                                    <div class="col-start-3 col-end-7 py-2 text-base">{{ product.primary_grape }}</div>
                                                    <div class="col-start-1 col-end-3 font-black py-2 text-base">All
                                                        Grapes
                                                    </div>
                                                    <div class="col-start-3 col-end-7 py-2 text-base">{{ product.all_grape }}</div>
                                                    <div class="col-start-1 col-end-3 font-black py-2 text-base">
                                                        Vintage
                                                    </div>
                                                    <div class="col-start-3 col-end-7 py-2 text-base">{{ product.year }}</div>
                                                    <div class="col-start-1 col-end-3 font-black py-2 text-base">Product
                                                        Size
                                                    </div>
                                                    <div class="col-start-3 col-end-7 py-2 text-base">{{ product.volume }}</div>
                                                    <div class="col-start-1 col-end-3 font-black py-2 text-base">
                                                        Proof/ABV
                                                    </div>
                                                    <div class="col-start-3 col-end-7 py-2 text-base">{{ product.proof }}%</div>
                                                    <div class="col-start-1 col-end-3 font-black py-2 text-base">Product
                                                        Size
                                                    </div>
                                                    <div class="col-start-3 col-end-7 py-2 text-base">{{ product.volume }}</div>
                                                    <div class="col-start-1 col-end-3 font-black py-2 text-base">
                                                        Country
                                                    </div>
                                                    <div class="col-start-3 col-end-7 py-2 text-base">{{ product.country_name }}</div>
                                                    <div class="col-start-1 col-end-3 font-black py-2 text-base">
                                                        Region
                                                    </div>
                                                    <div class="col-start-3 col-end-7 py-2 text-base">{{ product.region_name }}</div>
                                                    <div class="col-start-1 col-end-3 font-black py-2 text-base">
                                                        Appellation
                                                    </div>
                                                    <div class="col-start-3 col-end-7 py-2 text-base">{{ product.appellation }}</div>
                                                </div>
                                                <br>
                                                <form action="{{ url_for('cart.add_to_cart', user_id=current_user.id, bottles_id=product.id) }}"
                                                      method="POST">

                                                    <div id="modal-price-wrapper"
                                                         class="v65-product-addToCart-priceWrapper">
                                                        <div class="v65-product-addToCart-price" itemprop="price">
                                                            ${{ product.price }}
                                                        </div>
                                                    </div>
{#                                                    {% if product.inventory.quantity > 0 %}#}
{#                                                        <div id="modal-addToCart-quantity"#}
{#                                                             class="v65-product-addToCart-quantity pb-5">#}
{##}
{#                                                            <input id="v65-quantity-box"#}
{#                                                                   type="number"#}
{#                                                                   pattern="[0-9]*"#}
{#                                                                   aria-label="Quantity"#}
{#                                                                   name="qty"#}
{#                                                                   value="1"#}
{#                                                                   min=1#}
{#                                                                   max={{ product.inventory.quantity }}#}
{#                                                                           style="width: 40px; text-align:#}
{#                                                                   center;">#}
{#                                                        </div>#}
{#                                                    {% endif %}#}

                                                    <div class="panel-footer">
                                                        {% if product.inventory.quantity > 0 %}
                                                            {% include '_button.jinja2' %}
                                                        {% endif %}
                                                    </div>

                                                </form>
                                            </div>
                                            {% if product.description !="'-'" %}
                                                <div x-show="openTab === 2">
                                                    <br>
                                                    {{ product.description }}
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="card-image-container" class="z-100 flex-wrap">
                                <img id="modal-product-image" src="{{ product.image }}"
                                     alt="{{ product.product_name }}">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
{% endblock %}c