<button type="submit"
        class="btn rounded-lg text-2xl bg-red-600 uppercase text-sm p-3 text-white w-full extrabold block
              hover:bg-red-800 hover:shadow-lg focus:shadow-lg focus:outline-none focus:ring-0
              active:shadow-lg transition duration-150 ease-in-out"
        name="create_order">
    Checkout
</button>
