<button class="btn btn-primary rounded-lg bg-gray-600   p-2 text-white w-full block
btn rounded-lg  hover:bg-gray-800 hover:shadow-lg focus:shadow-lg focus:outline-none focus:ring-0
               text-sm  active:shadow-lg transition duration-150 ease-in-out"
>
    Update
</button>