{% extends "layout.jinja2" %}

{% block title %}Shopping Cart{% endblock %}

{% block content %}

    <section>
        {% if not user_cart %}
            {% include 'empty-cart.jinja2' %}
        {% else %}
            <div class="relative mx-auto max-w-screen-2xl">
                <div class="grid grid-cols-1 md:grid-cols-2 min-h-screen">

                    <div class="py-12 bg-gray-50 md:py-24">
                        <div class="max-w-lg px-4 mx-auto lg:px-8">

                            <div class="flex justify-center items-center">
                                <h2 class="ml-4 text-red-600  font-black">{{ title }}</h2>
                            </div>

                            {% for bottle in user_cart %}

                                <div class="mt-12">
                                    <div class="flow-root">
                                        <ul class="-my-4 divide-y divide-gray-300">
                                            <li class="flex items-center justify-between py-4">
                                                <div class="flex items-start">
                                                    <img class="flex-shrink-0 object-cover w-50 h-20 rounded-lg"
                                                         src="{{ bottle.image }}"/>
                                                    <div class="ml-4">
                                                        <a href="{{ url_for('products.product_page',  bottles_id=bottle.id) }}">
                                                            <p class="text-xl">{{ bottle.product_name }}</p>
                                                        </a>
                                                    </div>
                                                </div>

                                                <div class="px-3 my-3 text-center">
                                                    <form method='POST'
                                                          action="{{ url_for('cart.update_cart', bottles_id=bottle.id) }}">
                                                        <div class="form-group inline">
                                                            <input type="number" name="qty" min="1"
                                                                   max="{{ bottle.quantity }}"
                                                                   value="{{ bottle.buy_quantity }}"
                                                                   style="width: 40px; text-align:center;"
                                                                   class="mt-2">
                                                            {% include '_button-update.jinja2' %}
                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="px-3 my-3 text-center">
                                                    <div name="buy_qty" class="cart-item-label">
                                                        {{ bottle.buy_quantity }}
                                                    </div>
                                                </div>
                                                <div class="px-3 my-3 text-center">
                                                    <div class="cart-item-label">Price</div>
                                                    <span class="text-xl font-black">${{ bottle.price }}</span>
                                                </div>
                                                <div class="px-3 my-3 text-center">
                                                    <a href="{{ url_for('cart.remove_from_cart', bottles_id=bottle.id) }}">
                                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6"
                                                             fill="none" viewBox="0 0 24 24" stroke="currentColor"
                                                             stroke-width="2">
                                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                                  d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"/>
                                                        </svg>
                                                    </a>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="py-12 bg-white md:py-24">
                        <div class="max-w-lg px-4 mx-auto lg:px-8">

                            <form action="{{ url_for('cart.create_order', order_total=grand_total) }}"
                                  method="POST"
                                  autocomplete="off"
                                  class="grid grid-cols-6 gap-4">
                                <fieldset class="col-span-6">
                                    <legend class="block font-black mb-1 text-base">
                                        Card Type
                                    </legend>
                                    <div class="flex flex-wrap">
                                        <div class="flex items-center mr-4">
                                            <input id="mastercard-radio" type="radio" value="mastercard"
                                                   name="card_type" required
                                                   class="w-4 h-4 bg-gray-100  focus:ring-red-500 ">
                                            <label for="mastercard-radio"
                                                   class="ml-2 text-sm font-base text-gray-900 dark:text-gray-300"><span><img
                                                    width="30"
                                                    src="https://img.icons8.com/color/48/000000/mastercard.png"/></span></label>

                                        </div>
                                        <div class="flex items-center mr-4">
                                            <input id="visa-radio" type="radio" value="visa" name="card_type"
                                                   required
                                                   class="w-4 h-4 bg-gray-100 border-gray-300 focus:ring-red-500 dark:bg-gray-700 dark:border-gray-600">
                                            <label for="visa-radio"
                                                   class="ml-2 text-sm font-black text-gray-900 dark:text-gray-300">
                                            <span><img width="30"
                                                       src="https://img.icons8.com/officel/48/000000/visa.png"/></span>
                                            </label>
                                        </div>
                                        <div class="flex items-center mr-4">
                                            <input checked id="amex-radio" type="radio" value="amex"
                                                   name="card_type" required
                                                   class="w-4 h-4 bg-gray-100 border-gray-300 focus:ring-red-500 dark:bg-gray-700 dark:border-gray-600">
                                            <label for="amex-radio"
                                                   class="ml-2 text-sm font-black text-gray-900 dark:text-gray-300"><span><img
                                                    width="30"
                                                    src="https://img.icons8.com/ultraviolet/48/000000/amex.png"/></span></label>
                                        </div>
                                        <div class="flex items-center mr-4">
                                            <input id="paypal-radio" type="radio" value="paypal" name="card_type"
                                                   required
                                                   class="w-4 h-4 bg-gray-100 border-gray-300 focus:ring-red-500 dark:bg-gray-700 dark:border-gray-600">
                                            <label for="paypal-radio"
                                                   class="ml-2 text-sm font-black text-gray-900 dark:text-gray-300">    <span><img
                                                    width="30"
                                                    src="https://img.icons8.com/officel/48/000000/paypal.png"/></span></label>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="flex flex-col space-y-6 bg-white rounded-lg shadow-sm">
                                        <div>
                                            <label class="block mb-1 text-base font-black" for="card_number">
                                                Card Number
                                            </label>
                                            <input
                                                    class="border border-gray-900 py-2 rounded-md relative w-full focus:z-10 text-sm p-2.5 placeholder-gray-400"
                                                    type="text"
                                                    name="card_number"
                                                    id="card-number"
                                                    placeholder="0000 0000 0000 0000"
                                                    required autocomplete="false"
                                            />
                                        </div>
                                        <div class="col-span-3">
                                            <label class="block mb-1 text-base font-black" for="fullname">
                                                Fullname
                                            </label>
                                            <input
                                                    class="border border-gray-900 py-2 rounded-md relative rounded-t-lg w-full focus:z-10 text-sm p-2.5 placeholder-gray-400"
                                                    type="text"
                                                    id="fullname"
                                                    name="fullname"
                                                    placeholder="John Smith"
                                                    required
                                                    autocomplete="false"
                                            />
                                        </div>
                                        <div class="flex -space-x-px">
                                            <div class="flex-1">
                                                <label class="block mb-1 text-base font-black" for="expdate">
                                                    Expiration Date
                                                </label>
                                                <input
                                                        class="border border-gray-900 py-2 rounded-md relative rounded-bl-lg w-full focus:z-10 text-base font-black p-2.5 placeholder-gray-600"
                                                        type="text"
                                                        name="expdate"
                                                        id="expdate"
                                                        placeholder="MM / YY"
                                                        required autocomplete="false"
                                                />
                                            </div>
                                            <div class="flex-1">
                                                <label class="block mb-1 text-base font-black" for="cvs">
                                                    CVS
                                                </label>
                                                <input
                                                        class="border border-gray-900 py-2 rounded-md  border-solid relative rounded-br-lg w-full focus:z-10 text-base font-black p-2.5 placeholder-gray-600"
                                                        type="text"
                                                        name="cvv"
                                                        id="cvv"
                                                        placeholder="CVC"
                                                        required autocomplete="false"
                                                />
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset class="col-span-6">
                                    <div class="-space-y-px bg-white py-4  rounded-lg shadow-sm">
                                        <div>
                                            <label class="block mb-1 text-base font-black" for="zip">
                                                Zip Code
                                            </label>
                                            <input
                                                    class="border border-gray-900 py-2 rounded-md relative rounded-b-lg w-full focus:z-10 text-base font-black  p-2.5 placeholder-gray-600"
                                                    type="text"
                                                    name="zip"
                                                    id="zip"
                                                    required autocomplete="false"
                                                    placeholder="ZIP Code"
                                            />
                                        </div>
                                    </div>
                                </fieldset>
                                <br>
                                <div class="flex flex-row justify-start space-x-2 font-semibold">
                                    <p>Total:</p>
                                    <p name="grand_total">{{ "$%.2f"|format(grand_total) }}</p>
                                </div>
                                <div class="col-span-6 pt-4">
                                    {% include '_button-checkout.jinja2' %}
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </section>
{% endblock %}
