<div class="modal fade w-full"
     id="item{{ bottle.id }}">
    <div class="modal-dialog modal-xl relative w-auto pointer-events-none">
        <div class="modal-content border-none shadow-lg relative flex flex-col w-full pointer-events-auto  bg-clip-padding rounded-md outline-none text-current">
            <div class="grid grid-cols-2 gap-7">
                <div>
                    <h5 class="leading-normal " id="item{{ bottle.id }}Label">
                        {{ bottle.product_name }} <br>
                        {% if bottle.quantity > 0 %}
                            <small>(In Stock)</small>
                        {% else %}
                            <small>(Out of Stock)</small>
                        {% endif %}
                    </h5>

                    <div class="productnamesubtitle text-red-700"><em>Featured Product</em></div>
                    <button type="button"
                            class="btn-close box-content w-4 h-4 p-1 text-black border-none rounded-none opacity-50 focus:shadow-none focus:outline-none focus:opacity-100 hover:text-black hover:opacity-75 hover:no-underline"
                            data-bs-dismiss="modal" aria-label="Close"></button>
                    <div class="modal-body relative p-4">


                        <div x-data="{
                           openTab: 1,
                           activeClasses: 'bg-primary text-gray-800',
                           inactiveClasses: 'hover:bg-primary hover:text-white',
                           }
                           " class="w-full mb-14">
                                        <div class="
                              flex flex-wrap
                              rounded-lg
                              py-3
                              px-4a
                              border border-[#E4E4E4]
                              ">

                                <a href="javascript:void(0)" @click="openTab = 1"
                                   :class="openTab === 1 ? activeClasses : inactiveClasses"
                                   class="text-sm md:text-base  rounded-md py-3 px-4 lg:px-6 bg-primary text-white">
                                    Wine Facts
                                </a>
                                <a href="javascript:void(0)" @click="openTab = 2"
                                   :class="openTab === 2 ? activeClasses : inactiveClasses"
                                   class="text-sm md:text-base  rounded-md py-3 px-4 lg:px-6 text-body-color hover:bg-primary hover:text-white">
                                    Description
                                </a>
                            </div>
                            <div>
                                <div x-show="openTab === 1" class="text-body-color text-base leading-relaxed p-6"
                                     style="display: none;">
                                    <ul class="main" style="list-style-type:none;">
                                        <li><b>Wine Type:</b> {{ bottle.color_name }}
                                            <a href="#!"></a>
                                        </li>
                                        <li><b>Primary Varietal:</b> {{ bottle.primary_grape }}
                                            <a href="#!"></a>
                                        </li>
                                        <li><b>All Grapes:</b> {{ bottle.all_grape }}
                                            <a href="#!"></a>
                                        </li>
                                        <li><b>Vintage:</b> {{ bottle.year }}
                                            <a href="#!"></a>
                                        </li>
                                        <li><b>Bottle Size:</b> {{ bottle.volume }}ml.
                                            <a href="#!"></a>
                                        </li>
                                        <li><b>Proof/ABV:</b> {{ bottle.proof }}%
                                            <a href="#!"></a>
                                        </li>
                                        <li><b>Country:</b> {{ bottle.country_name }}
                                            <a href="#!"></a>
                                        </li>
                                        <li><b>Region:</b> {{ bottle.region_name }}
                                            <a href="#!"></a>
                                        </li>
                                        <li><b>Appellation:</b> {{ bottle.appellation }}
                                            <a href="#!"></a>
                                        </li>
                                        <li><b>Producer:</b> {{ bottle.producer_name }}
                                            <a href="#!"></a>
                                        </li>
                                    </ul>
                                    <div x-show="openTab === 2" class="text-body-color text-base leading-relaxed p-6">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit..
                                    </div>
                                </div>

                                <form action="{{ url_for('cart.add_to_cart', bottles_id=bottle.id) }}" method="POST">

                                    <div id="modal-price-wrapper" class="v65-product-addToCart-priceWrapper">
                                        <div class="v65-product-addToCart-price" itemprop="price">${{ bottle.price }}
                                        </div>
                                    </div>
                                    {% if bottle.quantity > 0 %}
                                        <div id="modal-addToCart-quantity" class="v65-product-addToCart-quantity">

                                            <input id="v65-quantity-box"
                                                   type="number"
                                                   pattern="[0-9]*"
                                                   aria-label="Quantity"
                                                   name="qty"
                                                   value="1"
                                                   min=1
                                                   max={{ bottle.quantity }}
                                                   style="width: 40px; text-align:
                                                   center;">
                                        </div>
                                    {% endif %}

                                    <div class="panel-footer">
                                        {% if bottle.quantity > 0 %}
                               {% include '_button.jinja2' %}
                                        {% endif %}
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="card-image-container" class="center">
                    <img id="modal-product-image" src="{{ bottle.image }}" alt="{{ bottle.product_name }}">
                </div>
            </div>
        </div>
    </div>
</div>